
.array-container{
    position:absolute;
    left:110px;
    padding-top: 100px;
    overflow: auto;
    white-space: nowrap;
    /* transform: rotate(180deg) scaleX(-1); */
}
.array-bar{
    width: 7px;
    background-color:blue;
    display:inline-block;
    margin: 0 5px;
}